body {
  margin: 0;
  padding: 0;
  background: #153365;
  font-family: sans-serif;
}

.loginbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 300px;
  background: #fff;
  border-radius: 30px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.username {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 50px;
  height: 100px;
  width: 100px;
}
